<ion-content>
  <!-- <div id="loading" *ngIf="isLoading == true">loading</div> -->
  <video
    autoplay
    muted
    loop
    id="video"
    playsinline
    webkit-playsinline
    *ngIf="videoBackground !== null"
  >
    <source [src]="videoBackground" type="video/mp4" />
  </video>
  <div
    id="graphic"
    *ngIf="graphicBackground !== null"
    [ngStyle]="graphicStyle"
  ></div>
  <div id="page">
    <div id="appname" [ngStyle]="appNameStyle">{{appName}}</div>
    <div id="slogan" [ngStyle]="sloganStyle">{{slogan}}</div>
    <div id="list">
      <ion-list>
        <ion-item
          lines="none"
          *ngFor="let song of songList"
          (click)="openPage(song.url, song.type)"
        >
          <ion-label [ngStyle]="listStyle">{{song.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
