<ion-content>
  <!-- <ion-img [src]="folderPath+currentSlideContent?.content"></ion-img> -->
  <div class="title" *ngIf="onMenu == true">
    <!-- <div (click)="back()">
      <img
        src="../../assets/assets/icons/ic_arrow_back_48px.svg"
        alt=""
        width="30"
      />
    </div> -->
    <span>{{folder}}</span>
    <!-- <div (click)="viewPdf()">
      <img
        src="../../assets/assets/icons/ic_picture_as_pdf_48px.svg"
        alt=""
        width="30"
      />
    </div> -->
  </div>
  <div
    class="content"
    (tap)="handleTap($event)"
    #content
    [ngStyle]="{'background': currentSlideContent?.backgroundColor}"
  >
    <div
      *ngIf="currentSlideContent?.type == 'image'"
      class="content-image"
      [ngStyle]="{'background-image': 'url('+folderPath+currentSlideContent?.content+')'}"
      (swipe)="handleSwipe($event)"
    ></div>
    <div
      class="content-text"
      *ngIf="currentSlideContent?.type == 'text'"
      (swipe)="handleSwipe($event)"
    >
      {{currentSlideContent?.content}}
    </div>
    <div
      class="content-html"
      *ngIf="currentSlideContent?.type == 'html'"
      [innerHTML]="domSanitizer.bypassSecurityTrustHtml(currentSlideContent?.content)"
      (swipe)="handleSwipe($event)"
    ></div>
    <iframe
      class="content-html"
      *ngIf="currentSlideContent?.type == 'iframe'"
      [src]="domSanitizer.bypassSecurityTrustResourceUrl(currentSlideContent?.content)"
      (swipe)="handleSwipe($event)"
    ></iframe>
    <div
      class="content-video"
      *ngIf="currentSlideContent?.type == 'video'"
      (swipe)="handleSwipe($event)"
    >
      <video
        [src]="folderPath+currentSlideContent?.content"
        autoplay
        #vidContent
      ></video>
    </div>
    <div
      class="content-youtube"
      *ngIf="currentSlideContent?.type == 'youtube'"
      (swipe)="handleSwipe($event)"
      (tap)="handleTap($event)"
    >
      <div class="showmenu" (click)="displayControl()">
        <img
          src="../../assets/assets/icons/ic_library_books_48px.svg"
          alt=""
          width="30"
        />
      </div>
      <iframe
        [src]="vidUrl"
        #vidContent
        (swipe)="handleSwipe($event)"
        (tap)="handleTap($event)"
      ></iframe>
    </div>
  </div>
  <div class="controller" *ngIf="onMenu == true">
    <div class="slider" *ngIf="currentSlideContent.duration != 0">
      <span>{{progressDuration}}</span>
      <ion-range
        color="primary"
        mode="ios"
        [(ngModel)]="progress"
        (ionChange)="goToSection($event)"
      ></ion-range>
      <span>{{totalDuration}}</span>
    </div>
    <div class="button">
      <div id="home" (click)="back()">
        <img
          src="../../assets/assets/icons/ic_home_48px.svg"
          alt=""
          width="40"
        />
      </div>
      <div id="prev" (click)="prevSlide()">
        <img
          src="../../assets/assets/icons/ic_skip_previous_48px.svg"
          alt=""
          width="40"
          [ngStyle]="{'opacity': slideState == 'first' ? '0.5' : '1'}"
        />
      </div>
      <div id="play" *ngIf="isPlaying == false" (click)="playSlide()">
        <img
          src="../../assets/assets/icons/ic_play_arrow_48px.svg"
          alt=""
          width="40"
        />
      </div>
      <div id="pause" *ngIf="isPlaying == true" (click)="pauseSlide()">
        <img
          src="../../assets/assets/icons/ic_pause_48px.svg"
          alt=""
          width="40"
        />
      </div>
      <div id="next" (click)="nextSlide()">
        <img
          src="../../assets/assets/icons/ic_skip_next_48px.svg"
          alt=""
          width="40"
          [ngStyle]="{'opacity': slideState == 'last' ? '0.5' : '1'}"
        />
      </div>
      <div id="pdf" (click)="viewPdf()">
        <img
          src="../../assets/assets/icons/ic_picture_as_pdf_48px.svg"
          alt=""
          width="40"
        />
      </div>
      <div id="video" (click)="viewVideo()">
        <img
          src="../../assets/assets/icons/ic_ondemand_video_48px.svg"
          alt=""
          width="40"
        />
      </div>
    </div>
  </div>
</ion-content>
